<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.unicom.lfbigdata.publisher.mapper.DauMapper">

    <!--查询某一时间范围，进入国庆任务的电子围栏的总报警人数（手机号去重）和总报警次数（手机号不去重）-->
    <select id="getNationalTaskCount" resultMap="alarmTotalCount">
        SELECT countDistinct(device_number)  alarm_totalcount_dis,count(*)  alarm_totalcount
        FROM ods_electronic_fence_gqrw_in
        WHERE time>=#{dateStart} and time &lt; #{dateEnd}
    </select>

    <resultMap id="alarmTotalCount" type="java.util.Map">
        <result column="alarm_totalcount_dis" property="alarmTotalcountDis" ></result>
        <result column="alarm_totalcount" property="alarmTotalcount" ></result>
    </resultMap>

    <!--查询某一时间范围，国庆围栏任务，内部围栏(小围栏)人员设备信息-->
    <select id="getElectronicFenceGqrwIn" resultMap="electronicFenceGqrwIn">
        select device_number,time,imei,imsi,lac,ci,longitude,latitude,prov_id,in_time,data_source,city_id,area_id,topic_name
        from ods_electronic_fence_gqrw_in
        where time>=#{dateStart} and time &lt; #{dateEnd}
        order by time desc
    </select>

    <resultMap id="electronicFenceGqrwIn" type="java.util.Map">
        <result column="device_number" property="deviceNumber" ></result>
        <result column="time" property="time" ></result>
        <result column="imei" property="imei" ></result>
        <result column="imsi" property="imsi" ></result>
        <result column="lac" property="lac" ></result>
        <result column="ci" property="ci" ></result>
        <result column="longitude" property="longitude" ></result>
        <result column="latitude" property="latitude" ></result>
        <result column="prov_id" property="provId" ></result>
        <result column="in_time" property="inTime" ></result>
        <result column="data_source" property="dataSource" ></result>
        <result column="city_id" property="cityId" ></result>
        <result column="area_id" property="areaId" ></result>
        <result column="topic_name" property="topicName" ></result>
    </resultMap>

    <!--国庆围栏任务，外部围栏(大围栏)人员设备信息-->
    <select id="getElectronicFenceGqrwOut" resultMap="electronicFenceGqrwOut">
        select device_number,time,imei,imsi,lac,ci,longitude,latitude,prov_id,in_time,data_source,city_id,area_id,topic_name
        from ods_electronic_fence_gqrw_out
        where time>=#{dateStart} and time &lt; #{dateEnd}
        order by time desc
    </select>

    <resultMap id="electronicFenceGqrwOut" type="java.util.Map">
        <result column="device_number" property="deviceNumber" ></result>
        <result column="time" property="time" ></result>
        <result column="imei" property="imei" ></result>
        <result column="imsi" property="imsi" ></result>
        <result column="lac" property="lac" ></result>
        <result column="ci" property="ci" ></result>
        <result column="longitude" property="longitude" ></result>
        <result column="latitude" property="latitude" ></result>
        <result column="prov_id" property="provId" ></result>
        <result column="in_time" property="inTime" ></result>
        <result column="data_source" property="dataSource" ></result>
        <result column="city_id" property="cityId" ></result>
        <result column="area_id" property="areaId" ></result>
        <result column="topic_name" property="topicName" ></result>
    </resultMap>

    <!--国庆任务地图展示：围栏内部和围栏外部数据，且只要最新的一次报警：从未进过小围栏的和进大围栏时间较新的 + 即在大围栏里，也在小围栏里，小围栏里的时间是新的。0代表环，1代码进入小围栏-->
    <select id="getNationalTaskShowOnMap" resultMap="nationalTaskShowOnMap">
        select t1.device_number device_number,t1.time time,t1.longitude longitude,t1.latitude latitude,t1.in_time in_time,t1.topic_name topic_name,'0' fence_in_out
            from (
            select device_number,time,longitude,latitude,in_time,topic_name
            from ods_electronic_fence_gqrw_out
            where in_time>#{dateStart} and in_time &lt; #{dateEnd}
            ORDER BY time desc LIMIT 1 BY device_number
            ) t1
        left join (
        select device_number,time,longitude,latitude,in_time,topic_name
        from ods_electronic_fence_gqrw_in
        where in_time>#{dateStart} and in_time &lt; #{dateEnd}
        ORDER BY time desc LIMIT 1 BY device_number
        ) t3 on t1.device_number = t3.device_number
        where t3.device_number ='' or t1.time>t3.time
        union all
        select t5.device_number device_number,t5.time time,t5.longitude longitude,t5.latitude latitude,t5.in_time in_time,t5.topic_name topic_name,'1' fence_in_out
        from (
        select device_number,time,longitude,latitude,in_time,topic_name
        from ods_electronic_fence_gqrw_out
        where in_time>#{dateStart} and in_time &lt; #{dateEnd}
        ORDER BY time desc LIMIT 1 BY device_number
        ) t4
        left join (
        select device_number,time,longitude,latitude,in_time,topic_name
        from ods_electronic_fence_gqrw_in
        where in_time>#{dateStart} and in_time &lt; #{dateEnd}
        ORDER BY time desc LIMIT 1 BY device_number
        ) t5 on t4.device_number = t5.device_number
        where t5.device_number !='' and t4.time&lt;=t5.time
    </select>

    <resultMap id="nationalTaskShowOnMap" type="java.util.Map">
        <result column="device_number" property="deviceNumber" ></result>
        <result column="time" property="time" ></result>
        <result column="longitude" property="longitude" ></result>
        <result column="latitude" property="latitude" ></result>
        <result column="in_time" property="inTime" ></result>
        <result column="topic_name" property="topicName" ></result>
        <result column="fence_in_out" property="fenceInOut" ></result>
    </resultMap>

    <!--人员轨迹查询：查询某一时间范围，某一手机号，对应的人员轨迹信息(不去重)-->
    <select id="getPersonTrack" resultMap="personTrack">
        select device_number,lac,ci,active_time,topic_name,city,base_station,lat,lon,lac_ci
        from (
            select t1.device_number,t1.lac,t1.ci,t1.active_time,t1.topic_name,t2.city,t2.base_station,t2.lat,t2.lon,t2.lac_ci
            from (
                SELECT device_number,lac,ci,active_time,topic_name
                FROM ods_unicom_person_track
                WHERE active_time >#{dateStart} and active_time&lt;#{dateEnd} and device_number =#{deviceNumber}) t1
            left join ods_base_station_2g3g t2 on t1.ci=t2.ci and t1.lac=t2.lac
            where t2.lat != ''
            union all
            select t3.device_number,t3.lac,t3.ci,t3.active_time,t3.topic_name,t4.city,t4.base_station,t4.lat,t4.lon,t4.lac_ci
            from (
                select device_number,lac,ci,active_time,topic_name
                from ods_unicom_person_track
                where active_time >#{dateStart} and active_time&lt;#{dateEnd} and device_number =#{deviceNumber}) t3
            left join ods_base_station_4g t4 on t3.ci=t4.ci
            where t4.lat != '') t5
        order by t5.active_time asc;
    </select>

    <resultMap id="personTrack" type="java.util.Map">
        <result column="device_number" property="deviceNumber" ></result>
        <result column="lac" property="lac" ></result>
        <result column="ci" property="ci" ></result>
        <result column="active_time" property="activeTime" ></result>
        <result column="topic_name" property="topicName" ></result>
        <result column="city" property="city" ></result>
        <result column="base_station" property="baseStation" ></result>
        <result column="lat" property="lat" ></result>
        <result column="lon" property="lon" ></result>
        <result column="lac_ci" property="lacCi" ></result>

    </resultMap>
</mapper>